<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/aula16/style/style.css">
    </head>
    <body>
      
        <h1>{{header}}</h1>
        <p>{{text}}</p>

        {% for Pessoa in pessoas %}
            <h2>{{Pessoa.Nome}}</h2>
            <p>Essa pessoa tem {{Pessoa.Altura}}m de altura e precisa fazer dieta, 
                pois pesa {{Pessoa.Peso}} Kg. 
                Compre o nosso shake verde e o chá verde para ganhar mais barriga!</p> 
        {% endfor %}
        <script src="" async defer></script>
    </body>
</html>
