@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root 
{
    --Darkblue: #082436;
    --LigthBlue: #3282B8;
    --LinkHover: #165e8b;
    --LinkClick: #3b97d4;
    --button: #3b97d444;
    --text: #000000;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    background-color: #e0e8f0;
 }

 button{
    background-color: none;
    border: none;
    color: none;
 }
/* Cabeçalho e afins */
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--LigthBlue);
}

